<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href={% static "ico/apple-touch-icon.png" %}>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "ico/favicon-32x32.png" %}>
    <link rel="icon" type="image/png" sizes="16x16" href={% static "ico/favicon-16x16.png" %}>
    <link rel="manifest" href={% static "ico/site.webmanifest" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="{% url 'news' %}">ЖКХ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if title == 'Новости'%}active {%endif%}">
                <a class="nav-link" href="{% url 'news' %}">Новости</a>
            </li>
            {%if user.allows == '1' %}
            <li class="nav-item {% if title == 'Ваши счета'%}active {%endif%}">
                <a class="nav-link" href="{% url 'bill' user.id %}">Просмотр счетов</a>
            </li>
            <li class="nav-item {% if title == 'Создание жалобы'%}active {%endif%}">
                <a class="nav-link" href="{% url 'create_report' %}">Оставить жалобу</a>
            </li>
            <li class="nav-item {% if title == 'Мои жалобы'%}active {%endif%}">
                <a class="nav-link" href="{% url 'my_reports' %}">Мои жалобы</a>
            </li>
            <li class="nav-item {% if title == 'Квитанции'%}active {%endif%}">
                <a class="nav-link" href="{% url 'receipts' %}">Квитанции</a>
            </li>
            {% elif user.allows == '2' %}
            <li class="nav-item {% if title == 'Счета'%}active {%endif%}">
                <a class="nav-link" href="{% url 'bills' %}">Просмотр счетов</a>
            </li>
            <li class="nav-item {% if title == 'Жалобы'%}active {%endif%}">
                <a class="nav-link" href="{% url 'reports' %}">Просмотр жалоб</a>
            </li>
            <li class="nav-item {% if title == 'Создание новости'%}active {%endif%}">
                <a class="nav-link" href="{% url 'create_new' %}">Добавление новости</a>
            </li>
            <li class="nav-item {% if title == 'Смена района'%}active {%endif%}">
                <a class="nav-link" href="{% url 'change_district' %}">Смена района</a>
            </li>
            {% elif user.allows == '3' %}
            <li class="nav-item {% if title == 'Заявки'%}active {%endif%}">
                <a class="nav-link" href="{% url 'admin_reg' %}">Заявки персонала</a>
            </li>
            <li class="nav-item {% if title == 'Добавление района'%}active {%endif%}">
                <a class="nav-link" href="{% url 'create_district' %}">Добавление района</a>
            </li>
            <li class="nav-item {% if title == 'Создание счетчика'%}active {%endif%}">
                <a class="nav-link" href="{% url 'create_name' %}">Создание счетчика</a>
            </li>
            <li class="nav-item {% if title == 'Тарифы'%}active {%endif%}">
                <a class="nav-link" href="{% url 'change_bill_rate' %}">Изменение тарифов</a>
            </li>
            <li class="nav-item {% if title == ''%}active {%endif%}">
                <a class="nav-link" href="/admin">Админка</a>
            </li>
            {% endif %}
        </ul>
        <div class = "navbar-nav form-inline my-2 my-lg-0 ">
            {% if user.is_authenticated %}
                <a class="text-white" href="{% url 'account' %}">({{ user.username }})</a>
                <a class="nav-link" href="{% url 'logout' %}">Выйти из аккаунта</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Войти в аккаунт</a>
            {% endif %}
        </div>
    </div>
    </div>
</nav>

    {% block content %}

    {% endblock %}

{%comment%}
<footer class="footer text-white pt-4 bg-secondary">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">

            <h5 class="text-uppercase font-weight-bold">О нас</h5>
            <p> Сайт был создан для удобного взаимодействия с работниками и пользователями ЖКХ услуг. </p>
            <p> Наш главный офис расположен по адресу: проспект Нурсултана Назарбаева 56. </p>
            <p> Контактный адрес электронной почты: chek1921@mail.ru</p>
  
        </div>
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-6 mb-md-0 mb-3">
  
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/164/karaganda/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Караганда</a><a href="https://yandex.kz/maps/164/karaganda/house/Y0oYdwdkSkUCQFpjfXRweXplYQ==/?ll=73.104661%2C49.818258&utm_medium=mapframe&utm_source=maps&z=17.95" style="color:#eee;font-size:12px;position:absolute;top:14px;">Проспект Нурсултана Назарбаева, 56 — Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/?ll=73.104661%2C49.818258&mode=whatshere&whatshere%5Bpoint%5D=73.104512%2C49.818594&whatshere%5Bzoom%5D=17&z=17.95" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>

        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a href="/" class = "text-info"> chek1921</a>
    </div>
</footer>
{%endcomment%}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src={% static "js/main.js" %}></script>

</body>
</html>