{% extends 'page.html' %}

{% block content %}

<div class="container">
    {%if user.allows == '2'%}
    <div class="d-flex justify-content-center flex-column mb-3 mt-3">
        {% if users.exists %}
        <h1 class = 'text-center'>Пользователи</h1>
        {%else%}
        <h1 class = 'text-center'>Нет пользователей по заданным параметрам</h1>
        {%endif%}
        <div class="d-flex justify-content-center">
            <a class = 'btn btn-primary' href="{%url 'create_rate'%}" style = 'border-radius: 5px; width: 300px;'>Создать/изменить тариф</a>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <form class="input-group" style="width: 300px;"> {%csrf_token%}
                <input name = "search" type="search" class="form-control rounded" placeholder="Название адреса" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>
    </div>
    {% if users.exists %}
    {% for user in users %}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="alert-heading">{{ user.address }}</h4>
                        </div>
                        <div>
                            <a class = 'btn btn-primary mr-3' href="{% url 'bill' user.id %}">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {%endif%}
    <h4 class = "text-center"><a href="{% url 'bills_all' %}">Все пользователи</a></h4>
    {%else%}
    <h1>Отказано в доступе</h1>
    {%endif%}
</div>

{% endblock %}