{% extends 'page.html' %}

{% block content %}



    <div class="container">
        {% if user.address == u.address %}
        <div class="row justify-content-center">
            <a class = 'btn btn-primary' href="{% url 'create_bill' %}" style = 'border-radius: 5px; width: 300px;'>Создать счет</a>
        </div>
        {%for bill_row in bills %}
        <div class="row">
           {%for el in bill_row%}
            <div class="col-sm">
                <div class="container p-3 my-3 bg-secondary text-white">
                    <h2>{{el.name}}</h2>
                    <p>Показание счетчика: {{el.current_count}} {{el.name.unit}}</p>
                    <p>Текущий тариф: за 1 {{el.name.unit}} к оплате {{el.rate.cost}} тенге</p>
                    <p>К оплате: {{el.cost}} тенге</p>
                    {%if el.time_pay%}
                    <p>Последняя оплата: {{el.time_pay}}</p>
                    {%else%}
                    <p>Последняя оплата: еще не оплачивался</p>
                    {%endif%}
                    <div class = "d-flex justify-content-between">
                        <a class="btn btn-info" href="{%url 'payment' el.id%}">Оплатить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% elif user.allows == '2' and user.district == u.district %}
        {%for bill_row in bills %}
        <div class="row">
            {%for el in bill_row%}
            <div class="col-sm">
                <form action="" method="post">{%csrf_token%}
                    <div class="container p-3 my-3 bg-secondary text-white">
                        <h2>{{el.name}}</h2>
                        <p>Показание счетчика: <input type="number" name = 'current_count' class = "mt-2 form-control" min="0" step="0.001" value="{{el.current_count}}" placeholder="Текущее показание: {{el.current_count}}"></p>
                        <p>Текущий тариф: {{el.rate.cost}} тенге</p>
                        <select name="rate" id="" class = "form-control">
                            {% for rate in rates %}
                            {% if rate.bill_name == el.name %}
                            <option value="{{rate.id}}">{{rate.name}} - {{rate.cost}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <p class = "mt-3">Задолжность: {{el.cost}} тенге</p>
                        <input class = "d-none" type="text" name="id" id="" value = "{{el.id}}">
                        <div class = "d-flex justify-content-between">
                            <a class="btn btn-info" href="{% url 'bill_del' el.id %}">Удалить</a>
                            <!-- <a class="btn btn-info" href="">Изменить</a> -->
                            <input class = "btn btn-info" type="submit" value="Изменить">
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        {% else %}
        <h1>Отказано в доступе</h1>
        {% endif %}
    </div>


{% endblock %}