{% extends 'page.html' %}

{% block content %}

<div class="container">
    {%if user.allows == '2' %}
    {% if reports.exists%}
    <h1>Жалобы</h1>
    {% for el in reports %} 
        <div class="row">
            <div class="col">
                <div class="alert bg-report" role="alert">
                    <h4 class="alert-heading">{{ el.title }}</h4>
                    <p>{{ el.text|linebreaks|truncatewords:50 }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'report' el.pk %}" class = 'btn btn-info'>Ответить</a>
                        {{el.time_create}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <h1>Жалобы закончились</h1>
    {% endif %}
    <h1><a href="{% url 'reports_history' %}">История жалоб</a></h1>
    {%else%}
    <h1>Отказано в доступе</h1>
    {%endif%}
</div>
{% endblock %}