{% extends 'page.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-4">
      <div class="container p-3 my-5 bg-white" style="border-radius: 5px">
        <h3 class = "text-center"> Вход </h3>
        <form method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="col mb-3">
              <label for="validationServerUsername">Логин</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                <input type="text" name = 'username' class="form-control" id="validationServerUsername" placeholder="Логин" aria-describedby="inputGroupPrepend3" required>
                <div class="invalid-feedback">
                  Неверный логин
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3">
              <label for="validationServer04">Пароль</label>
              <input type="password" name = 'password' class="form-control" id="validationServer04" placeholder="Пароль" required>
              <div class="invalid-feedback">
                Неверный пароль
              </div>
            </div>
          </div>

              <button class="btn btn-primary col-md mb-3" type="submit">Войти</button>

        </form>
        <a href="{% url 'registration' %}" class="btn btn-primary col-md mb-3">Регистрация</a>
        <div class="navbar-nav form-inline my-2 my-lg-0">
          <a href="{% url 'password_reset' %}" class="nav-link text-secondary">Забыли пароль?</a>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

{% endblock %}