{% extends 'page.html' %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-4">
      <div class="container p-3 my-5 bg-white" style="border-radius: 5px">
        <h3 class = "text-center"> Регистрация </h3>
        <form method="POST">
          {% csrf_token %}
          
          <div class="form-row">
            <div class="col mb-3">
              <label for="login">Логин</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                </div>
                {{ form.username|attr:"class: form-control" }}
                {{ form.username.errors }}
                <div class="invalid-feedback">
                  Неверный логин
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3">
              <label for="email">Почта</label>
              {{ form.email|attr:"class: form-control" }}
              {{ form.email.errors }}
              <div class="invalid-feedback">
                Неверная почта
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3">
              <label for="password1">Пароль</label>
              {{ form.password1|attr:"class: form-control" }}
              {{ form.password2.errors }}
              <div class="invalid-feedback">
                Пароли не совпадают
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3">
              <label for="password2">Повторите пароль</label>
              {{ form.password2|attr:"class: form-control" }}
              <div class="invalid-feedback">
                Неверный пароль
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3">
              <label for="address">Адрес</label>
              {{ form.address|attr:"class: form-control" }}
              {{ form.address.errors }}
              <div class="invalid-feedback">
                Неверная почта
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3" id = "opt-del">
              <label for="Dist">Район</label>
              {{ form.district|attr:"class: form-control" }}
              {{ form.district.errors }}
              <ul class="errorlist">
                  <li>{{ error }}</li>
              </ul>
              
            </div>
          </div>
          <div class="form-row">
            <div class="col mb-3" id = "opt-del">
              {{form.want_staff}} 
              <label for="">Отправка заявки на администрацию</label>
            </div>
          </div>
          

              <button class="btn btn-primary col-md mb-3" type="submit">Регистрация</button>

        </form>
        <a href="{% url 'login' %}" class="btn btn-primary col-md mb-3">Войти</a>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>


{% endblock %}