{% extends 'page.html' %}

{% block content %}
    {%if user.allows == '3' %}
        <div class="container">
            <div class="p-3 my-3 bg-secondary text-white col-sm" style="border-radius: 5px;">
                <form method="post"> {% csrf_token %}
                    <div class="form-group">
                        <label for="report_name">Название нового района</label>
                        {{ form.district }} 
                    </div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-dark">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <p>Отказано в доступе</p>
        </div>
    {% endif %}

{% endblock %}