{% extends 'page.html' %}

{% block content %}

<div class="container">
    <h1>Новости</h1>
    {% for el in all_news %} 
        <div class="row">
            <div class="col">
                <div class="alert bg-news" role="alert">
                    <h4 class="alert-heading">{{ el.title }}</h4>
                    <p>{{ el.text|linebreaks|truncatewords:50 }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'new' el.pk %}" class = 'btn btn-primary'>Читать</a>
                        {{el.time_create}}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <h1><a href="{% url 'news' %}">Обратно</a></h1>
</div> 
    
{% endblock %}