{% extends 'page.html' %}

{% block bills %}
active
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container p-3 my-3 bg-secondary text-white">
                <h1>Оплата счета</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic tempore impedit similique dolores nostrum nihil, nobis doloremque dignissimos! Soluta ea sit sunt sed aspernatur aut nihil commodi culpa ratione dignissimos!</p>
                <a class="btn btn-info" href="bills">Подробнее</a>
            </div>
        </div>
        <div class="col">
            <div class="container p-3 my-3 bg-secondary text-white">
                <h1>Написание жалобы</h1>
                <p>Omnis itaque, optio autem accusamus, debitis sapiente minus odio ut corporis, vero qui atque voluptas deserunt fuga quos sint quibusdam voluptate explicabo aut libero. Ducimus eius mollitia ipsum exercitationem praesentium.</p>
                <a class="btn btn-info">Подробнее</a>
            </div>
        </div>
        <div class="col">
            <div class="container p-3 my-3 bg-secondary text-white">
                <h1>Аккаунт</h1>
                <p>Animi nisi necessitatibus, harum facilis nostrum dicta itaque ipsam dignissimos magni doloribus in adipisci quam debitis quis distinctio sapiente laudantium atque fugit facere inventore aut unde iste beatae deleniti! Nulla.</p>
                <div>
                    <a class="btn btn-info">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}