{% extends 'page.html' %}

{% block content %}

<div class="container">
    <h1 >Новости</h1>
    {% for el in reports %} 
        <div class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">{{ el.title }}</h4>
                    <p>{{ el.text }}</p>
                    <a href="{% url 'report' el.pk %}">ПОДРОБНЕЕ</a>
                    {{el.time_create}}
                </div>
            </div>
        </div>
    {% endfor %}

    
{% endblock %}